<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SCerrarSesion</servlet-name>
        <servlet-class>Servlet.SCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarCarro</servlet-name>
        <servlet-class>Servlet.SAgregarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFinalizarCompra</servlet-name>
        <servlet-class>Servlet.SFinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVerificarUsuario</servlet-name>
        <servlet-class>Servlet.SVerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgragarU</servlet-name>
        <servlet-class>AgragarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarU</servlet-name>
        <servlet-class>Servlet.AgregarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsu</servlet-name>
        <servlet-class>AgregarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsu</servlet-name>
        <servlet-class>ConsultarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsu</servlet-name>
        <servlet-class>BorrarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>EditarU.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarU</servlet-name>
        <servlet-class>EditarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsu</servlet-name>
        <servlet-class>EditarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPro</servlet-name>
        <servlet-class>AgregarPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaPro</servlet-name>
        <servlet-class>ConsultaPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPro</servlet-name>
        <servlet-class>BorrarPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarP</servlet-name>
        <servlet-class>BorrarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarP</servlet-name>
        <servlet-class>EditarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPro</servlet-name>
        <servlet-class>EditarPro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCerrarSesion</servlet-name>
        <url-pattern>/SCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarCarro</servlet-name>
        <url-pattern>/SAgregarCarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFinalizarCompra</servlet-name>
        <url-pattern>/SFinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVerificarUsuario</servlet-name>
        <url-pattern>/SVerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgragarU</servlet-name>
        <url-pattern>/AgragarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarU</servlet-name>
        <url-pattern>/AgregarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsu</servlet-name>
        <url-pattern>/AgregarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsu</servlet-name>
        <url-pattern>/ConsultarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsu</servlet-name>
        <url-pattern>/BorrarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/Editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarU</servlet-name>
        <url-pattern>/EditarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsu</servlet-name>
        <url-pattern>/EditarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPro</servlet-name>
        <url-pattern>/AgregarPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaPro</servlet-name>
        <url-pattern>/ConsultaPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPro</servlet-name>
        <url-pattern>/BorrarPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarP</servlet-name>
        <url-pattern>/BorrarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarP</servlet-name>
        <url-pattern>/EditarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPro</servlet-name>
        <url-pattern>/EditarPro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
